name = "astro-view-worker"
main = "cloudflare-worker.js"
compatibility_date = "2025-12-14"

[vars]
GITHUB_REPO = "BG2FOU/astro-view"

[env.production.vars]
GITHUB_REPO = "BG2FOU/astro-view"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
